 .u-section-1 {
  background-image: url("images/ChatGPTImage25nov202509_03_46.png");
  background-position: 50% 50%;
  min-height: 736px;
}

.u-section-1 .u-group-1 {
  width: 319px;
  --radius: 10px;
  height: auto;
  background-image: linear-gradient(#2cccc4, white);
  min-height: 128px;
  margin: 65px auto 0 calc(((100% - 1140px) / 2)  + 15px);
}

.u-section-1 .u-container-layout-1 {
  padding-left: 52px;
  padding-right: 52px;
}

.u-section-1 .u-text-1 {
  margin: 15px 0 0 9px;
}

.u-section-1 .u-image-1 {
  width: 852px;
  height: 568px;
  margin: -28px 0 0 auto;
}

.u-section-1 .u-group-2 {
  width: 370px;
  --radius: 10px;
  height: auto;
  background-image: linear-gradient(#2cccc4, white);
  min-height: 128px;
  margin: -667px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-2 {
  margin: 15px 11px 0 0;
}

.u-section-1 .u-image-2 {
  width: 749px;
  height: 457px;
  margin: 27px auto 0 calc(((100% - 1140px) / 2)  + -240px);
}

.u-section-1 .u-group-3 {
  width: 280px;
  --radius: 10px;
  height: auto;
  background-image: linear-gradient(#2cccc4, white);
  min-height: 128px;
  margin: -612px calc(((100% - 1140px) / 2)  + 39px) 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 40px;
  padding-right: 35px;
}

.u-section-1 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#2cccc4, white);
  font-weight: 700;
  margin: 415px auto 60px;
  padding: 10px 36px 11px 35px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 724px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 15px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: -668px;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2)  + -240px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 940px) / 2)  + 39px);
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    width: 116px;
    margin-top: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -580px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2)  + -240px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 720px) / 2)  + 39px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -460px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2)  + -240px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 540px) / 2)  + 39px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 591px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 340px) / 2) + 15px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: -327px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 207px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-top: -362px;
    margin-right: calc(((100% - 340px) / 2)  + 39px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 283px;
  }
}