 .u-section-1 {
  background-image: url("images/ChatGPTImage25nov202509_03_46.png");
  background-position: 50% 50%;
  min-height: 814px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 calc(((100% - 1140px) / 2)  + 330px) 0 calc(((100% - 1140px) / 2)  + 439px);
}

.u-section-1 .u-image-1 {
  height: 848px;
  margin-top: -103px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#2cccc4, white);
  font-weight: 700;
  margin: -182px auto 0 calc(((100% - 1140px) / 2)  + 224px);
  padding: 19px 47px 21px 46px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  width: 553px;
  margin: -622px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#2cccc4, white);
  font-weight: 700;
  margin: 519px calc(((100% - 1140px) / 2)  + 294px) 60px auto;
  padding: 19px 47px 21px 46px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 572px;
    margin-right: calc(((100% - 940px) / 2)  + 230px);
    margin-left: calc(((100% - 940px) / 2)  + 339px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -273px;
    margin-left: calc(((100% - 940px) / 2) + 24px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2)  + 523px);
    margin-left: calc(((100% - 940px) / 2)  + 46px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2)  + 94px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 415px;
    margin-right: calc(((100% - 720px) / 2)  + 120px);
    margin-left: calc(((100% - 720px) / 2)  + 229px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + 349px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 386px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 288px;
    margin-right: calc(((100% - 540px) / 2)  + 30px);
    margin-left: calc(((100% - 540px) / 2)  + 139px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2)  + 169px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 243px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 160px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }
}